body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:216px;
}
#u1696 {
  position:absolute;
  left:94px;
  top:73px;
  width:300px;
  height:216px;
  font-size:20px;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u1698 {
  position:absolute;
  left:94px;
  top:32px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:20px;
}
#u1699 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
