body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u1700 {
  position:absolute;
  left:184px;
  top:200px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u1701 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u1702 {
  position:absolute;
  left:184px;
  top:798px;
  width:375px;
  height:69px;
  font-size:18px;
  color:#999999;
}
#u1703 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1705 {
  position:absolute;
  left:184px;
  top:200px;
  width:375px;
  height:40px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1708 {
  position:absolute;
  left:191px;
  top:215px;
  width:6px;
  height:8px;
}
#u1709 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1710 {
  position:absolute;
  left:201px;
  top:215px;
  width:6px;
  height:8px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1712 {
  position:absolute;
  left:211px;
  top:215px;
  width:6px;
  height:8px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1714 {
  position:absolute;
  left:221px;
  top:215px;
  width:6px;
  height:8px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u1716 {
  position:absolute;
  left:231px;
  top:215px;
  width:6px;
  height:8px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1719 {
  position:absolute;
  left:521px;
  top:212px;
  width:27px;
  height:17px;
}
#u1720 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1721 {
  position:absolute;
  left:526px;
  top:217px;
  width:17px;
  height:7px;
}
#u1722 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1723 {
  position:absolute;
  left:548px;
  top:217px;
  width:4px;
  height:7px;
}
#u1724 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1725 {
  position:absolute;
  left:243px;
  top:211px;
  width:63px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1726 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1727 {
  position:absolute;
  left:347px;
  top:213px;
  width:50px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1728 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1729 {
  position:absolute;
  left:480px;
  top:213px;
  width:80px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1730 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1731 {
  position:absolute;
  left:211px;
  top:808px;
  width:50px;
  height:50px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u1733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1733 {
  position:absolute;
  left:305px;
  top:808px;
  width:50px;
  height:50px;
  color:#000000;
}
#u1734 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1735 {
  position:absolute;
  left:397px;
  top:808px;
  width:50px;
  height:50px;
}
#u1736 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u1737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1737 {
  position:absolute;
  left:483px;
  top:808px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u1738 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u1739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1739 {
  position:absolute;
  left:355px;
  top:254px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1740 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1741 {
  position:absolute;
  left:184px;
  top:160px;
  width:110px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1742 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 200, 200, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1743 {
  position:absolute;
  left:184px;
  top:307px;
  width:375px;
  height:197px;
}
#u1744 {
  position:absolute;
  left:2px;
  top:90px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1745 {
  position:absolute;
  left:201px;
  top:357px;
  width:357px;
  height:1px;
}
#u1746 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1747 {
  position:absolute;
  left:201px;
  top:404px;
  width:357px;
  height:1px;
}
#u1748 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1749 {
  position:absolute;
  left:201px;
  top:453px;
  width:357px;
  height:1px;
}
#u1750 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1751 {
  position:absolute;
  left:531px;
  top:322px;
  width:12px;
  height:22px;
}
#u1752 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1753 {
  position:absolute;
  left:531px;
  top:371px;
  width:12px;
  height:22px;
}
#u1754 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1755 {
  position:absolute;
  left:531px;
  top:416px;
  width:12px;
  height:22px;
}
#u1756 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1757 {
  position:absolute;
  left:201px;
  top:321px;
  width:161px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1758 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1759 {
  position:absolute;
  left:201px;
  top:370px;
  width:161px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1760 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1761 {
  position:absolute;
  left:201px;
  top:415px;
  width:161px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1762 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1763 {
  position:absolute;
  left:201px;
  top:467px;
  width:161px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1764 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u1765 {
  position:absolute;
  left:481px;
  top:321px;
  width:40px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u1766 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u1767 {
  position:absolute;
  left:447px;
  top:370px;
  width:74px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u1768 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u1769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u1769 {
  position:absolute;
  left:481px;
  top:415px;
  width:40px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u1770 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:51px;
}
#u1771 {
  position:absolute;
  left:0px;
  top:12px;
  width:437px;
  height:51px;
  font-size:34px;
  color:#FFFFFF;
  text-align:left;
}
#u1772 {
  position:absolute;
  left:2px;
  top:6px;
  width:433px;
  word-wrap:break-word;
}
#u1773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 200, 200, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1773 {
  position:absolute;
  left:184px;
  top:536px;
  width:375px;
  height:144px;
}
#u1774 {
  position:absolute;
  left:2px;
  top:64px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1775 {
  position:absolute;
  left:201px;
  top:586px;
  width:357px;
  height:1px;
}
#u1776 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1777 {
  position:absolute;
  left:201px;
  top:633px;
  width:357px;
  height:1px;
}
#u1778 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1779 {
  position:absolute;
  left:531px;
  top:551px;
  width:12px;
  height:22px;
}
#u1780 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1781 {
  position:absolute;
  left:531px;
  top:600px;
  width:12px;
  height:22px;
}
#u1782 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1783 {
  position:absolute;
  left:531px;
  top:645px;
  width:12px;
  height:22px;
}
#u1784 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1785 {
  position:absolute;
  left:201px;
  top:550px;
  width:161px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1786 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1787 {
  position:absolute;
  left:201px;
  top:599px;
  width:161px;
  height:72px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1788 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1789 {
  position:absolute;
  left:201px;
  top:644px;
  width:161px;
  height:72px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1790 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1791 {
  position:absolute;
  left:531px;
  top:465px;
  width:12px;
  height:22px;
}
#u1792 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1793 {
  position:absolute;
  left:665px;
  top:200px;
  width:375px;
  height:507px;
  text-align:left;
}
#u1794 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u1795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1795 {
  position:absolute;
  left:665px;
  top:160px;
  width:110px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
